<div class="body">
    <div class="about-us">
        <h1>About Us</h1>
        <p>Welcome to our FoodBox delivery service! We are dedicated to bringing the best local restaurants to your
            doorstep. Our mission is to provide a seamless experience and delicious meals at the click of a button.</p>
        <p>Our mission is to provide a user-friendly interface and exceptional customer service, ensuring that you can focus
            on what matters most: enjoying your favorite foods!</p>
        <div class="team">
            <div class="member">
                <img src="../../../assets/sreenu.jfif" alt="Team Member 1">
                <h3>Sreenu</h3>
                
            </div>
            <div class="member">
                <img src="../../../assets/abhi.jfif" alt="Team Member 2">
                <h3>Abhinav</h3>
                
            </div>
            <div class="member">
                <img src="../../../assets/shabd.jpg" alt="Team Member 3">
                <h3>Shrasti</h3>
                
            </div>
            <div class="member">
                <img src="../../../assets/pranshu.jpg" alt="Team Member 4">
                <h3>Pranshu</h3>
                
            </div>
            <div class="member">
                <img src="../../../assets/shabd.jpg" alt="Team Member 5">
                <h3>Shabd</h3>
                
            </div>
            <div class="member">
                <img src="../../../assets/sushma.jfif" alt="Team Member 6">
                <h3>Sushma</h3>
                
            </div>
        </div>
    </div>
    </div>