<div class="body">
    <div class="container">
        
        <h1>Contact Us</h1>
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">Address</div>
              <div class="text-one">DLF, Ramapuram</div>
              <div class="text-two">Chennai </div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">Phone</div>
              <div class="text-one">+0098 9893 5647</div>
              <div class="text-two">+0096 3434 5678</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">pranshu.com</div>
              <!-- <div class="text-two">info.codinglab@gmail.com</div> -->
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Send us a message</div>
            <br>
            <p>If you have any issue from us or any types of queries related to our page, you can send us message from here. It's our pleasure to help you.</p>
            <form action="https://api.web3forms.com/submit" method="POST">
            <div class="input-box">
              <input type="text" placeholder="Enter your Name">
            </div>
            <input type="hidden" name="access_key" value="02f2711f-26a9-4849-ad31-810bd4ba8d02" >
            <div class="input-box">
              <input type="text" placeholder="Enter your Email">
            </div>
            <div class="input-box message-box">
                <input type="text" placeholder="Enter your Message">
            </div>
            <button type="submit">
                <a href="mailto:abhinav30jan@gamil.com?subject=Need Assistance">Send Message</a>
            </button>
          </form>
        </div>
        </div>
      </div>
</div>